<h2>Eventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="col-5 form-group mb-2 d-flex">
    <input type="text" class="form-control me-2" placeholder="Search" />
    <button class="btn btn-outline-success">Search</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Qtd People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.eventoId }}</td>
      <td>{{ event.imageUrl }}</td>
      <td>{{ event.tema }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.dataEvento }}</td>
      <td>{{ event.qtdPessoas }}</td>
      <td>{{ event.lote }}</td>
      <td>{{ event.imagemUrl }}</td>
    </tr>
  </tbody>
</table>
