<h2>Eventos</h2>
<hr />

<div class="form-inline">
  <div class="col-5 form-group mb-2 d-flex align-items-center">
    <label class="me-2">Filter: </label>
    <input
      type="text"
      class="form-control me-2"
      placeholder="Search"
      [(ngModel)]="filter"
    />
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button (click)="handleShowImage()" type="button" class="btn btn-light">
          {{showImage ? 'mostrar' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Qtd People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventsFilters && eventsFilters.length">
    <tr *ngFor="let event of eventsFilters">
      <td>
        <img
        src="/assets/images/{{event.imagemURL}}"
        alt=""
        [collapse]="showImage"
        [isAnimated]="true"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"
        >
      </td>
      <td>{{ event.eventoId }}</td>
      <td>{{ event.tema }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.dataEvento }}</td>
      <td>{{ event.qtdPessoas }}</td>
      <td>{{ event.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="eventsFilters.length == 0">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
